* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  height: 906px;
  text-align: center;
  background-image: url(beitragsbild-berater-zu-berater-d1d9b9.jpg);
  background-repeat: no-repeat;
}
#logo {
  width: 60px;
  border: 2px solid pink;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

header nav {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: azure;
}
nav ul {
  list-style: none;
  display: inline;
}
nav ul li {
  display: inline-block;
  margin: 0 40px;
}

main {
  width: 600px;
  height: 100px;
  padding: 40px;
  margin-top: 90px;
  text-align: center;
}
.yazi {
  color: black;
  font-size: larger;
}
.button {
  margin-top: 20px;
  margin-left: 200px;
  width: 100px;
  text-align: center;
}
button {
  border-radius: 90px;
  border-style: none;
  background-color: bisque;
  color: rgb(15, 66, 66);
  font-weight: 500;
  font-size: medium;
}
