* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(beitragsbild-berater-zu-berater-d1d9b9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 10px;
  width: 1000px;
  height: 906px;
  text-align: left;
  margin: auto;
}
#logo {
  width: 70px;
  border: 2px solid pink;
  margin-left: -220px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
#logo:hover {
  cursor: pointer;
  z-index: 2;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

header nav {
  display: flex;
  justify-content: space-between;
}
a {
  border-radius: 20px;
  text-decoration: none;
  color: azure;
  background-color: rgba(178, 96, 200, 0.3);
  font-size: large;
}
a:hover {
  cursor: pointer;
  background-color: darkcyan;
  box-shadow: 20px 10px 15px;
}
nav ul {
  list-style: none;
  display: inline;
}
nav ul li {
  display: inline-block;
  margin: 0 40px;
}

article {
  width: 600px;
  height: 100px;
  padding: 40px;
  margin-top: 90px;
  margin-left: -400px;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
}
.yazi {
  color: black;
  font-size: larger;
}
.button {
  padding: 50px;
  margin-top: 400px;
  margin-left: 400px;
  width: 200px;
  height: 30px;
  text-align: center;
}
button {
  border-radius: 15px;
  border-style: none;
  background-color: bisque;
  color: rgb(15, 66, 66);
  font-weight: 600;
  font-size: large;
  width: 200px;
  height: 50px;
}
button:hover {
  cursor: pointer;
  background-color: darkcyan;
  box-shadow: 20px 10px 15px;
}
