* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(beitragsbild-berater-zu-berater-d1d9b9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 1249px;
  height: 926px;
  margin: auto;
}
#logo {
  width: 60px;
}

header nav {
  display: flex;
  justify-content: space-between;
}
a {
  color: azure;
}
